@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4e2d1;
  --foreground: #423736;
  --primary: #987185;
  --secondary: #d6aa9f;
  --light-pink: #e9d5b7;
  --cream: #f4e2d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #423736;
    --foreground: #f4e2d1;
    --primary: #987185;
    --secondary: #d6aa9f;
    --light-pink: #e9d5b7;
    --cream: #f4e2d1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
